.text-bold{
    font-weight: bold;
}

.borderless {
    border-top: 0 none;
}

.top-buffer{
    margin-top: 3%;
}

.logo-pic{
    height: 40px;
}

.logo-color{
    color: white;
}

.nav-color{
    background-color: dodgerblue;
}